body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: auto;
}

h1{
    font-size: 45pt;
}

.time-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-container #time-value{
    background-color: black;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 70pt;
    width: 220px;
    margin: 50px
}

.time-container input[type=button]{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 20pt;
    margin: 10px;
    border: none;
    font-size: 60pt;
    vertical-align: top;
}

.buttons-container{
    margin: 20px;
    margin-bottom: 30px;
}

.buttons-container input[type=button]{
    width: 100px;
    height: 70px;
    border-radius: 50px;
    font-size: 20pt;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

#button-start:hover{
    background-color: green;
    color: white;
}

#button-stop:hover{
    background-color: brown;
    color: white;
}

input[type=button]:hover{
    background-color: rgb(88, 82, 82);
    cursor: pointer;
}

input[type=button]:focus{
    outline:0;
}


footer{
    margin-top: 100px;
    font-size: 10pt;
}
